language: python
sudo: false
addons:
  apt:
    packages:
      - libatlas3gf-base
      - libatlas-dev
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "nightly"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: nosetests -w tests
