# by default, the source distribution includes everything that is under version control
graft sksurv/linear_model/src/eigen/Eigen

prune doc/_build
prune doc/generated
prune .github
prune ci
exclude appveyor.yml .codecov.yml .coveragerc .gitmodules .zenodo.json

global-exclude __pycache__
global-exclude .ipynb_checkpoints
global-exclude .gitignore
global-exclude *.pyc
global-exclude *.bak
global-exclude *.swp
global-exclude *~