/* from https://github.com/pandas-dev/pandas/pull/49811 */
table {
    width: auto; /* Override fit-content which breaks Styler user guide ipynb */
}

.nboutput .output_area img {
    border: 5px solid var(--pst-color-background);
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    height: 45px;
}

.overview-grid .sd-card-title {
    color: var(--pst-color-link);
    font-size: calc(var(--pst-font-size-h4) - .1rem);
    line-height: 1.4;
}

.overview-grid .sd-card-title.sd-font-weight-bold {
    font-weight: var(--pst-font-weight-heading) !important;
}

.overview-grid .sd-card-title svg[data-prefix="fas"] {
    position: absolute;
    right: 1.2rem;
    line-height: 1.4;
    transition: all .2s
}

.overview-grid .sd-card-hover:hover .sd-card-title {
    color: var(--pst-color-link-hover);
}

.overview-grid .sd-card-hover:hover {
    border-color: var(--sd-color-card-border);
}

.overview-grid .sd-card-hover:after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #4ce8ff;
    background: linear-gradient(90deg, #4ce8ff, #d07cff);
    opacity: 0;
    transition: all .2s
}

.overview-grid .sd-card-hover:hover:after {
    opacity: 1;
}

.github-icon {
    display: inline-block;
    vertical-align: middle;
}

.github-icon span {
    padding: .5rem;
}

.github-repository-name {
    display: inline-block;
    max-width: calc(100% - 1.2rem);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.navbar-icon-links ul.github-facts {
    display: flex;
    gap: .4rem;
    margin: .1rem 0 0;
    padding: 0;
    font-size: .95rem;
    font-weight: 400;
    list-style: none;
    opacity: .75;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

li.github-fact {
    display: inline-block;
    vertical-align: middle;
}

.github-fact-stars::before {
    font: var(--fa-font-solid);
    content: '\f005';
    margin-right: .15rem;
}

.github-fact-forks::before {
    font: var(--fa-font-solid);
    content: '\e13b';
    margin-right: .15rem;
}

a:hover.github-repository {
    text-decoration: none;
    color: var(--pst-color-link-hover);
}

a.github-repository {
    color: var(--pst-color-text-muted);
}

a:visited.github-repository {
    color: var(--pst-color-text-muted);
}

a:visited:hover.github-repository  {
    text-decoration: none;
    color: var(--pst-color-link-hover);
}