# This file purposely does not contain libraries that depend on C modules.
# See https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules
ipython
nbsphinx
docutils
setuptools_scm
sphinx ~=4.4.0
pydata-sphinx-theme ~=0.8.1
