# This file purposely does not contain libraries that depend on C modules.
# See https://docs.readthedocs.io/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules
ipython
nbsphinx
setuptools_scm
sphinx <2
pydata-sphinx-theme ~=0.4.0
