name: Tests
on:
  push:
  pull_request:
  schedule:
    - cron: '0 6 1 * *'

jobs:
  pytest:
    name: Build and check (Linux, macOS)
    strategy:
      fail-fast: false
      matrix:
        config:
          - py311
          - py312
          - py313
          - py314
        runner:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Set dependencies
        id: dependencies
        run: |
          echo "CONDA_PKGS_DIRS=${{ runner.temp }}/conda_pkgs_dir" >> $GITHUB_ENV
          echo "requirements=ci/deps/${{ matrix.config }}.sh" >> $GITHUB_OUTPUT
      - name: Cache downloaded packages
        uses: actions/cache@v5
        with:
          path: ${{ env.CONDA_PKGS_DIRS }}
          key: ${{ runner.os }}-${{ runner.arch }}-conda-${{ matrix.config }}-${{ hashFiles(steps.dependencies.outputs.requirements, 'pyproject.toml', 'ci/deps/requirements.yaml.tmpl') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-conda-${{ matrix.config }}-
      - name: Create Conda Environment
        run: |
          source ci/setup_conda.sh "${{ matrix.config }}" "${{ runner.os }}" "${{ runner.arch }}" "${{ env.CONDA_PKGS_DIRS }}"
      - name: Configure Xcode
        run: |
          sudo xcode-select -s "/Applications/Xcode_16.4.0.app"
        if: runner.os == 'macOS'
      - name: Build package
        run: |
          source activate sksurv-test
          python -m build .
          pip install --exists-action=w --pre --no-index --find-links dist/ scikit-survival
          rm -fr dist sksurv
      - name: Run Tests
        run: |
          source activate sksurv-test
          ci/run_tests.sh
      - name: Check whether to create coverage report
        id: coverage
        run: |
          if [ ${{ env.CI_NO_SLOW }} = 'false' ] && [ ${{ runner.os }} = 'Linux' ] && [ ${{ github.actor }} != 'dependabot[bot]' ]; then
            echo "do=true" >> $GITHUB_OUTPUT
          else
            echo "do=false" >> $GITHUB_OUTPUT
          fi
      - name: Submit Coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: coverage.xml
          fail_ci_if_error: true
          disable_file_fixes: true
        if: steps.coverage.outputs.do == 'true'
      - name: Submit Coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml
        if: ${{ steps.coverage.outputs.do == 'true' && github.event_name != 'pull_request' }}

  pytest-win:
    name: Build and check (Windows)
    strategy:
      fail-fast: false
      matrix:
        config:
          - py311
          - py312
          - py313
          - py314
    env:
      CONDA_INSTALL_LOCN: ${{ github.workspace }}\Miniforge3
      PYTHONWARNINGS: default
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Set dependencies
        id: dependencies
        # CONDA_PKGS_DIRS defines the directory in which packages are located.
        # https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/settings.html#pkgs-dirs-specify-package-directories
        run: |
          Add-Content -Path $env:GITHUB_OUTPUT -Value "requirements=.\ci\deps\windows\${{ matrix.config }}.ps1"
          Add-Content -Path $env:GITHUB_ENV -Value "CONDA_PKGS_DIRS=${{ runner.temp }}\conda_pkgs_dir"
      - name: Cache downloaded packages
        uses: actions/cache@v5
        with:
          path: ${{ env.CONDA_PKGS_DIRS }}
          key: ${{ runner.os }}-${{ runner.arch }}-conda-${{ matrix.config }}-${{ hashFiles(steps.dependencies.outputs.requirements, 'pyproject.toml', 'ci/deps/requirements.yaml.tmpl') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-conda-${{ matrix.config }}-
      - name: Create Conda Environment
        run: |
          ci\setup_conda.ps1 -DepsVersion "${{ matrix.config }}" -InstallationDirectory "${{ env.CONDA_INSTALL_LOCN }}" -CondaPkgsDir "${{ env.CONDA_PKGS_DIRS }}"
      - name: Build package
        run: |
          mamba run -n sksurv-test python -m build .
          mamba run -n sksurv-test pip install --exists-action=w --pre --no-index --find-links dist/ scikit-survival
          Remove-Item -Path dist, sksurv -Recurse -Force
      - name: Run Tests
        run: |
          mamba run -n sksurv-test pytest -m "not slow"

  nbval:
    runs-on: ubuntu-latest
    name: Build and check notebooks
    env:
      DEPS_CONFIG: py313
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Set dependencies
        id: dependencies
        run: |
          echo "CONDA_PKGS_DIRS=${{ runner.temp }}/conda_pkgs_dir" >> $GITHUB_ENV
          echo "requirements=ci/deps/${DEPS_CONFIG}.sh" >> $GITHUB_OUTPUT
      - name: Cache downloaded packages
        uses: actions/cache@v5
        with:
          path: ${{ env.CONDA_PKGS_DIRS }}
          key: ${{ runner.os }}-${{ runner.arch }}-conda-${{ env.DEPS_CONFIG }}-${{ hashFiles(steps.dependencies.outputs.requirements, 'pyproject.toml', 'ci/deps/requirements.yaml.tmpl') }}
      - name: Create Conda Environment
        run: |
          source ci/setup_conda.sh "${{ env.DEPS_CONFIG }}" "${{ runner.os }}" "${{ runner.arch }}" "${{ env.CONDA_PKGS_DIRS }}"
      - name: Configure matplotlib
        run: |
          mkdir -p ${XDG_CONFIG_HOME}/matplotlib
          echo 'figure.figsize: 6.0, 4.0' > ${XDG_CONFIG_HOME}/matplotlib/matplotlibrc
          echo 'figure.facecolor: white' >> ${XDG_CONFIG_HOME}/matplotlib/matplotlibrc
          echo 'figure.edgecolor: white' >> ${XDG_CONFIG_HOME}/matplotlib/matplotlibrc
          echo 'figure.dpi: 72' >> ${XDG_CONFIG_HOME}/matplotlib/matplotlibrc
          echo 'font.size: 10' >> ${XDG_CONFIG_HOME}/matplotlib/matplotlibrc
      - name: Build package
        run: |
          source activate sksurv-test
          python -m build .
          pip install --exists-action=w --pre --no-index --find-links dist/ scikit-survival
          rm -fr build dist sksurv
      - name: Test notebooks
        run: |
          source activate sksurv-test
          pytest --nbval doc/user_guide/*.ipynb --nbval-sanitize-with ci/nb_sanitize.cfg
