name: Tox
on: [push, pull_request]

jobs:
  linting_and_docs:
    runs-on: ubuntu-latest
    name: Linting and Docs
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install packages
        run: |
          sudo apt-get install cmake libenchant-2-dev pandoc tox
      - name: Run Tox
        run: |
          tox run -e py310-${{ matrix.tox_env }}
      - name: Archive documentation
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: doc/_build/html
        if: ${{ matrix.tox_env == 'docs' }}
      - name: Print debug information
        run: cat .tox/py310-${{ matrix.tox_env }}/log/*.log
        if: ${{ failure() }}
    strategy:
      fail-fast: false
      matrix:
        tox_env: [lint, docs]
