name: Build Wheels

on:
  release:
    types: [published]


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]
        python: [38, 39, 310]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Set platform
        id: platform
        shell: bash
        run: |
          if [ ${{ runner.os }} = 'Linux' ]; then
            echo "::set-output name=build_platform::manylinux"
          elif [ ${{ runner.os }} = 'macOS' ]; then
            echo "::set-output name=build_platform::macosx"
          elif [ ${{ runner.os }} = 'Windows' ]; then
            echo "::set-output name=build_platform::win_amd64"
          fi

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.4.0
        env:
          CIBW_ARCHS: auto64
          CIBW_BUILD: cp${{ matrix.python }}-${{ steps.platform.outputs.build_platform }}*
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
          CIBW_BUILD_VERBOSITY: 1
          CIBW_ENVIRONMENT_MACOS: MACOSX_DEPLOYMENT_TARGET=10.13
          CIBW_TEST_COMMAND: pytest --strict-markers -m 'not slow' {project}/tests
          CIBW_TEST_COMMAND_WINDOWS: pytest --strict-markers -m "not slow" -k "not test_fit_and_predict_linear_regression" {project}\\tests
          CIBW_TEST_REQUIRES: pytest
          # Skip trying to test arm64 builds on Intel Macs
          CIBW_TEST_SKIP: "*-macosx_arm64 *-macosx_universal2:arm64"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz
